div:hover {
  border: 10px solid black;
}

div:nth-of-type(odd){
  font-style: italic;
}

div:nth-child(3){
  background: blue;
  color: white;  
}

div:nth-child(4) {
  background: red;
  color: black;
}

div:nth-child(5) {
  background: green;
  color: yellow;
  font-size: 30px;
  padding: 8px;
}

div:nth-child(6) {
  background: black;
  color: gray;
}

div:nth-child(7) {
  background: yellow;
  color: green;
}
